uvicorn
chromadb
ollama
flask
flask-cors
pydantic
requests
bs4
json5
torch
tqdm
langchain
sentence-transformers
torch
flask
flask-cors
requests
bs4
tqdm
langchain-community
langchain-huggingface
pytest

langchain-community
langchain-huggingface
chromadb
